body{
  margin: 0;
  font-family: 'Scheherazade New', serif;
  /* background-image: url(/img/welcome-02.png);
  background-size: cover; */
  background-color: #f1f1f1;
  max-width: 100%;
  transition: 0.3s;
}

.navbar{
  display: grid;
  width: 98.5%;
  grid-template-columns: 0.5fr 0.8fr 0.07fr;
  height: auto;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 10px 10px;
  position: fixed;
  top: 0;
}
.navbar h2{
  margin: 0px;
  padding: 5px;
}

.main-menu{
  width: 60%;
  margin-left: 20%;
  padding: 100px 20px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr;
  justify-items: center;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.4);
}
.upper-part{
  display: grid;
  justify-items: center;
}
.upper-part h1{
  margin: 5px 0px;
  
}
.upper-part p{
  font-size: 18px;
}
.middle-part{
  display: grid;
  justify-items: center;
  gap: 40px;
}
.middle-part h2{
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.4);
}
.subjects{
  display: grid;
  justify-items: center;

}
.subjects h3{
  font-size: 20px;
}


.sidenav{
  height: 100%;
  width:0 ;
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(150px);
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 40px;
}
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  opacity: 1;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav a:hover{
  color: #8a2626;
}
.open{
  cursor: pointer;
}
.nav-img{
  height: 60px;
  border-radius: 50%;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-height:650px){
  .sidenav{
    padding-top: 15px;
  }
  .sidenav a{
    font-size: 18px;
  }
}
@media screen and (max-width:650px){
  body{
  background-image: url(img/exam-2mobile.png);
  background-size: cover;
  }
  .navbar{
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 10px 5px;
  }
  .navbar h2{
    font-size: 22px;
  }
  .nav-img{
    display: none;
    pointer-events: none;
  }
  .main-menu{
    width: 90%;
    margin-left: 2%;
    padding: 100px 10px;
  }
  .middle-part{
    gap: 20px;
  }
  .middle-part h2{
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.4);
  }
  .subjects img{
    width: 90%;
  }
  
}